@model api.portal.jenn.DTO.Procedimento

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutProcedimentos.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Procedimento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProcedimentoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
