@model IEnumerable<api.portal.jenn.DTO.Procedimento>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutProcedimentos.cshtml";
}

<h1>Lista de Procedimentos</h1> 
<div class="form-group">
    <a asp-action="Create">Novo Procedimento</a>
    <table class=" table-active col-md-12 ">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Descrição
                </th>
                
                <th>
                    Tipo Procedimento
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.TipoProcedimento.Nome)
                </td>
                <td>

                    @if (item.Ativo > 0)
                    {
                        <label class="bg-success">Ativo</label>
                    }
                    else
                    {
                        <label class="bg-danger">Desativado</label>
                    }
                </td>
                <td>
                    <div class="col-md-8">
                        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.ProcedimentoID">Editar</a> |
                         <a class="btn btn-secondary" asp-action="Delete" asp-route-id="@item.ProcedimentoID">Deletar</a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>