@model IEnumerable<api.portal.jenn.DTO.Empresa>

@{
    ViewData["Title"] = "Lista de Empresas";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
}
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<h1>Todas as Empresas</h1>

<p>
    <a asp-action="Create">Nova Empresa</a>
</p>
<!-- Prepended text-->
<div class="form-group">

    <div class="col-md-3">
    </div>
    <table id="grid" class="display" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Cnes</th>
                <th><div style="width:450px; Word-wrap: break-Word">Nome </div></th>
                <th>E-mail</th>
                <th>Status</th>
                <th>Controle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td> @Html.DisplayFor(modelItem => item.EmpresaID)</td>
                    <td> @Html.DisplayFor(modelItem => item.CodigoCnes)</td>
                    <td><div style="width:450px; Word-wrap: break-Word"> @Html.DisplayFor(modelItem => item.Nome)</div></td>
                    <td> @Html.DisplayFor(modelItem => item.Email)</td>

                    <td>
                        @if (item.Ativo == 1)
                        {
                            <i class="	fas fa-handshake"></i>
                        }
                        else
                        {
                            <i class="	fas fa-handshake-alt-slash"></i>
                        }
                    </td>
                    <td>
                        @if (item.Ativo == 1)
                        {
                            <a asp-action="Desativar" class="fas fa-window-close" title="Desativar Empresa" asp-route-id="@item.EmpresaID"></a>
                        }
                        else
                        {
                            <a asp-action="Desativar" class="far fa-window-close" title="Ligar Empresa" asp-route-id="@item.EmpresaID"></a>

                        }|
                        <a asp-action="Edit" asp-route-id="@item.EmpresaID" class='far fa-edit'></a>|

                        <a asp-action="Details" asp-route-id="@item.EmpresaID" title="Detalhar este Registro" class='fas fa-glasses'></a> |
                        <a asp-action="Delete" asp-route-id="@item.EmpresaID" title="Excluir este Registro" class='fas fa-eraser'></a>
                    </td>
                </tr>

            }


        </tbody>
          </table>

</div>
<br />
<br />
