@model IEnumerable<api.portal.jenn.DTO.ProcedimentoEmpresa>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista Procedimento Empresa</h1>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table
       ">
    <thead>
        <tr>
            <th>
                Nome do Procedimento
            </th>
            <th>
                Valor do Procedimento
            </th>
            <th>
               Destaque
            </th>
            <th>
                Vinculado a Empresa
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome_pers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecoProduto)
                </td>
                <td>@switch (item.Destaque)
                     {
                    case 1:
                        {
                    <a> Pagina Pesquisa</a>
                        }
                        break;
                    case 0:
                        {
                            <a>Sem Destaque</a>
                        }
                        break;
                      }
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    @if (item.Ativo == 1)
                    {
                        <a asp-action="Desativar" asp-route-id="@item.ProcedimentoEmpresaID">Des</a>
                    }
                    else
                    {
                        <a asp-action="Desativar" asp-route-id="@item.ProcedimentoEmpresaID">Lig</a>

                    }|
                    <a asp-action="Edit" asp-route-id="@item.ProcedimentoEmpresaID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProcedimentoEmpresaID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProcedimentoEmpresaID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
 