@model ui.portal.jenn.ViewModel.PesquisaViewModel
<div class="card card-exame">
    <div class="row">
        <div class="col-xl-3 col-md-6 col-12">
            <img src="@Model.UrlImagem" alt="" width="400" height="232" />
        </div>
        <div class="col-xl-6 col-md-6 col-12">
            <h3>@Model.NomeEmpresa <img src="~/img/icon-check.png" /> </h3>
            <p>@Model.DescricaoProcedimento</p>
            <div class="rating">
                <fieldset class="rating">
                    <span>
                        <input type="radio" id="rating_0" name="rating" value="0" checked />
                        <label for="rating_1"><span>1 star</span></label>
                        <input type="radio" id="rating_1" name="rating" value="1" />
                        <label for="rating_2"><span>2 stars</span></label>
                        <input type="radio" id="rating_2" name="rating" value="2" />
                        <label for="rating_3"><span>3 stars</span></label>
                        <input type="radio" id="rating_3" name="rating" value="3" />
                        <label for="rating_4"><span>4 stars</span></label>
                        <input type="radio" id="rating_4" name="rating" value="4" />
                        <label for="rating_5"><span>5 stars</span></label>
                        <input type="radio" id="rating_5" name="rating" value="5" />
                    </span>
                </fieldset>
                <a href="">@Model.Opiniao opiniões</a>
            </div>
            <div class="info">
                <div class="ico">
                    <img src="~/img/exames/icon-loc.png" />
                </div>
                <div class="content-info">
                    <h4>@Model.NomeUnidade</h4>
                    <p>@Model.EnderecoCompleto <a href="@Model.UrlMaps" target="_blank">Mapa</a></p>
                </div>
            </div>
            <div class="btn-content">
                <a href="@Model.EnderecoLoja" class="btn btn-primary" title="">Ver preço</a>
                <a href="" class="btn btn-primary btn-convenio" title="">CONVÊNIOS</a>
                <div class="box-convenios">
                    <form>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xl-12">
                                    <input type="text" class="form-control" id="lista" placeholder="Pesquisar..." />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-xl-3 col-md-12  col-12">
            <div class="calendar">
                <h4>Horário Desejado</h4>
                <p>Entenda como a sugestão de agenda funciona.</p>
                <div class="slider-time">

                    <div>
                        <div class="box-time">
                            <h5>Hoje</h5>
                            <p>13/JAN</p>
                            <div class="content-time">
                                <span class="active">12:00 </span>
                                <span>12:00 </span>
                                <span>12:00 </span>
                                <span>12:00 </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="box-time">
                            <h5>Amanhã</h5>
                            <p>13/JAN</p>
                            <div class="content-time">
                                <span>12:00 </span>
                                <span>12:00 </span>
                                <span>12:00 </span>
                                <span>12:00 </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="box-time">
                            <h5>SEG</h5>
                            <p>13/JAN</p>
                            <div class="content-time">
                                <span>12:00 </span>
                                <span>12:00 </span>
                                <span>12:00 </span>
                                <span>12:00 </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="box-time">
                            <h5>ter</h5>
                            <p>13/JAN</p>
                            <div class="content-time">
                                <span>12:00 </span>
                                <span>12:00 </span>
                                <span>12:00 </span>
                                <span>12:00 </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="box-time">
                            <h5>qua</h5>
                            <p>13/JAN</p>
                            <div class="content-time">
                                <span>12:00 </span>
                                <span>12:00 </span>
                                <span>12:00 </span>
                                <span>12:00 </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="box-time">
                            <h5>qui</h5>
                            <p>13/JAN</p>
                            <div class="content-time">
                                <span>12:00 </span>
                                <span>12:00 </span>
                                <span>12:00 </span>
                                <span>12:00 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>